* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #A8D0E6;
  font-family: 'Literata', serif;
}

.select-menu {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
  overflow: hidden;
  background: white;
} 

.select-menu select {
  padding: 5px 8px;
}

.select-menu select:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}




