    
.card-list {
    display: flexbox;
    flex-direction: row;
}

.card-list li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-list ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.card {
    border: 2px solid rgb(49, 59, 103);
    width: 20rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1rem;
    padding: 0;
    /* height: 34.5rem; */
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: rgb(49, 59, 103);
}

.image-wrap {
    object-fit: fill;
    background-color: white;
}

.image-wrap img {
    margin: 1rem;
    height: 12rem;
    max-width: 300px;
    object-fit: contain;
}

.item-name {
    background-color: white;
    margin: 0;
    padding: 2px;
    letter-spacing: 0.12rem;
    border-bottom: 3px dotted rgba(247, 190, 105, 0.844);
}

.item-cost {
    background-color: white;
    color: green;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 0 1rem 0;
    margin: 0;
}

.ngo-title-wrap {
    padding: .3rem 0;
    margin: 0;
    border-bottom: 2px solid rgb(49, 59, 103);
    border-top: 2px solid rgb(49, 59, 103);
    background-color: rgba(247, 190, 105, 0.844);
}

.ngo-title {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}

.subtitle {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-style: italic;
}

.ngo-title:hover {
    letter-spacing: 0.125rem;
}

.ngo-title a {
    text-decoration: none;
    color: black;
}

.numbers-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
}

.numbers-title {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

.need, .purchased, .still-need {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem;
}

.purchased {
    color: green;
}

.still-need {
    color: red;
}

.registry-button {
    background-color: rgb(49, 59, 103);
    margin: 0;
}

.registry-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    /* display: inline-block; */
    margin: 10px auto;
    max-width: 150px;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 17px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.registry-button {
    color: rgba(30, 22, 54, 0.666);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.registry-button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(247, 190, 105, 0.844) 0 80px 0px 2px inset;
}