.nav-bar ul {
    list-style: none;
    background-color: rgb(49, 59, 103);
    text-align: center;
    padding: 10px;
    margin: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.nav-bar li {
    /* font-family: 'Oswald', sans-serif; */
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}  

.home-link, .signup-link {
    text-decoration: none;
    color: #fff;
    padding: 0 .6rem;
}

.home-link {
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
}

.signup-link {
    font-size: 1rem;
    margin: 0 1rem;
    cursor: pointer;
}

.home-link:hover, .signup-link:hover {
    background-color: rgba(247, 190, 105, 0.844);
    transition: .4s background-color;
    cursor: pointer;
}

