
.ngo-login-wrap {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
    text-align: center;
    margin: 0;
  }
  
  form {
    max-width: 500px;
    width: 80%;
    margin: 2rem auto 1rem auto;
    padding: 1rem;
    border-radius: 3px;
    background-color: rgb(49, 59, 103);
  }
  
  label,
  input,
  .sel-menu {
    display: block;
    width: 100%;
  }
  
  label {
    margin-bottom: 2rem;
    height: 22px;
  }
  
  input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
    
  }
  
  .sign-in-button {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: 1px solid rgb(70, 153, 179);
    background-color: 250ms;
  }
  
  .sign-in-button:hover, .goto-login {
    cursor: pointer;
    background-color: rgba(247, 190, 105, 0.844);
    color: white;
    box-shadow: rgba(247, 190, 105, 0.844) 0 80px 0px 2px inset;
  }

  .under-text {
    text-align: center;
  }

  .under-text a{
    color: black;
  }

  .under-text a:hover {
    cursor: pointer;
    opacity: .8;
    letter-spacing: 0.12rem;
  }

.plz-login-wrap {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plz-login {
  margin: 3rem;
}

  .goto-login a{
    padding: 10px 15px;
    background-color: rgb(49, 59, 103);
    color: white;
    border: 1px solid rgb(49, 59, 103);
    background-color: 250ms;
  }

  .goto-login a:hover {
    background-color: white;
    color: rgb(49, 59, 103);
  }

  
  