.bookmarklet-wrap {
    text-align: center;
}

.bookmarklet-title {
    margin: 4rem 0 2rem 0;
}

.instructions {
    margin: 1rem;
}

.first-part, .second-part, .third-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wishlist-numbers {
    align-self: center;
    border-radius: 50%;
    width: 3.1rem;
    height: 1.9rem;
    padding-bottom: 3.1rem;
    border: solid 5px rgb(49, 59, 103);
    background: white;
}

.bookmark-wrap {
    width: 14rem;
    align-self: center;
    background-color: rgba(247, 190, 105, 0.844);
    margin: 1rem;
    padding: .2rem;
    border-radius: 10px;
    cursor: pointer;
}

.bookmark-wrap:hover {
    background-color: rgb(49, 59, 103);
}

.bookmark-wrap a:hover {
    color: white;
}

.p-wrap {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.p-wrap a {
    text-decoration: underline;
}

.bookmarklet-video {
    background-image: url("../images/bookmarklet_vid.gif");
    background-size: cover;
    width: 46rem;
    height: 23rem;
    display: flex;
    align-self: center;
    border: 12px solid rgb(49, 59, 103);
    margin-bottom: 7rem;
}

.video-title {
    background-color: white;
    font-weight: bold;
    border: 5px solid rgb(49, 59, 103);
    max-width: 750px;
    display: flex;
    align-self: center;
    padding: 10px;
}
